html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #010423;
    padding-bottom: 50px; 
}

/* Estilo do menu */
.menu {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}

.menu-links {
    display: flex; 
    align-items: center; 
    flex-grow: 1; 
    justify-content: center; 
}

.menu a {
    color: white; 
    text-decoration: none; 
    margin: 0 20px; 
    font-size: 1.2em; 
}

.menu a:hover { 
    text-decoration: underline; 
}


.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: aliceblue;
}

.project-item {
    text-align: center;
    margin-bottom: 30px;
}


.project-image {
    max-width: 80%;
    border: 4px solid #ffffff; 
    border-radius: 10px; 
    margin-bottom: 10px; 
}


.download-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.download-button:hover {
    background-color: #45a049;
}


.rodape {
    background-color: #1E1D1D; 
    color: white; 
    text-align: center; 
    padding: 20px; 
    width: 100%; 
}

.rodape .imagens {
    justify-content: center; 
    margin-bottom: 10px; 
}


.contato {
    background-color: #821656; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 1em; 
    cursor: pointer; 
    margin-bottom: 10px; 
}

.contato:hover {
    background-color: #721245; 
}


@media (max-width: 768px) {
    .menu a {
        font-size: 1em; 
        margin: 0 10px; 
    }

    .project-image {
        max-width: 90%; 
    }

    .contato {
        font-size: 0.9em; 
        padding: 8px 15px; 
    }
}

@media (max-width: 480px) {
    .menu a {
        font-size: 0.9em; 
        margin: 0 5px; 
    }

    .project-image {
        max-width: 95%; 
    }

    .contato {
        font-size: 0.8em; 
        padding: 7px 12px; 
    }
}
